
{{> head }}
<body>
    {{> navar }}

    <div class="row">
        <div class="col-md-2 "></div>
        <div class="col-md-8  text-center">
            <img src="Assets/img/img.jpg" alt="img-thumbnail" width="80%">
        </div>
        <div class="col-md-2"></div>
    </div>
{{> foot }}